* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #111;
    color: #ececec;
	min-height: 100vh;
}

.header {
	background-color: #212121;
	display: block;
    padding: 10px;
    height: 60px;
	justify-content: space-between;

	h1 {
        color: #ececec;
        font-size: 32px;
        font-weight: 700;
        text-align: left;

        strong {
    		color: #fd9330;
			font-size: 28px;
			margin-left: -5px;
        }
    }
}

.header, .menu-container {
    display: flex;
    align-items: center;
}

.menu-link {
    margin-left: 16px;
    text-decoration: none;
    color: #9e9e9e;
    transition: .3s ease-in-out;
}

.search-box {
	display: flex;
	justify-content: flex-end;
	flex: 1 1 0%;
	
	input {
		border-radius: 25px;
		background: #272727;
		border: 2px solid transparent;
		outline: none;
		height: 42px;
		min-width: 520px;
		color: #9e9e9e;
		padding-left: 16px;
		padding-right: 42px;
		transition: .3s ease-in-out;

		::placeholder {
			color: #888;
		}

		&:focus, &:valid {
			background-color: #313131;
			color: #FFF;
		}
	}
}

.content-wrap {
	display: flex;

	aside {
		flex: 1 1 250px;
		max-width: 250px;
		padding-right: 16px;

		nav {
			padding-left: 10px;
			padding-right: 10px;

			h3 {
				color: #313131;
				font-size: 24px;
				margin-bottom: 16px;
			}

			a {
				display: block;
				padding: 8px 16px;
				text-align: left;

				color: #888;
				font-size: 16px;
				margin-bottom: 16px;

				background-color: #EEE;
				border-radius: 999px;
				text-decoration: none;

				transition: 0.4s;

				&:hover {
					background-color: #313131;
					color: #AAA;
				}
			}
		}
	}

	main {
		flex: 1 1 0%;
		padding: 0px 16px;

		.main-head {
			display: flex;
			justify-content: flex-end;
		}

		.anime-list {
			display: flex;
			flex-wrap: wrap;
			margin-top: 32px;
			margin: 32px -8px 0px;

			.anime-card {
				flex: 1 1 17%;
				max-width: 17%;
				padding: 16px 8px;

				a {
					text-decoration: none;
				}

				figure {
					display: block;
					margin-bottom: 16px;

					img {
						display: block;
						width: 100%;
						height: 350px;
						object-fit: contain;
						border-radius: 16px;
						box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);

						transition: 0.4s;
					}
				}

				h3 {
					color: #313131;
				}

				&:hover {
					figure {
						img {
							box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
							transform: scale(1.05);
						}
					}
				}
			}
		}
	}
}