* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #111;
    color: #ececec;
	min-height: 100vh;
}

.header {
	background-color: #212121;

	h1 {
        color: #ececec;
        font-size: 32px;
        font-weight: 700;
		margin-bottom: 0;
        text-align: left;

        strong {
    		color: #a00e3f;
			font-size: 28px;
			margin-left: -5px;
        }
    }
}

.menu-link {
    margin-left: 16px;
    text-decoration: none;
    color: #9e9e9e;
    transition: .3s ease-in-out;
}

.search-box {

	input {
		border-radius: 25px;
		background: #ffffff;
		border: 2px solid transparent;
		outline: none;
		height: 42px;
		min-width: 520px;
		color: #9e9e9e;
		padding-left: 16px;
		padding-right: 42px;
		transition: .3s ease-in-out;

		::placeholder {
			color: #888;
		}

		&:focus, &:valid {
			background-color: #313131;
			color: #FFF;
		}
	}
}

.video-item-poster {
	height: 250px;
    width: auto;
    padding: .5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}