* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #111;
    color: #ececec;
	min-height: 100vh;
}

// --------------------------------------------------------- //

#leftSidebar, #rightSidebar {
    max-width: 22%;
}

#main-anime-list a {
    color: #e0e0e0;
    text-decoration: none;
}

#schedule-list a {
    color: #e0e0e0;
    text-decoration: none;
}

// --------------------------------------------------------- //

.anime-item .anime-item-poster {
	height: 250px;
    width: auto;
    padding: .5em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.2);
    cursor: pointer;
}

.anime-list .anime-item-title {
    display: -webkit-box; //used for webkit line clamping
    cursor: pointer;
    margin: .5em 0;
    text-align: center;
    font-size: .85em;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header {
	background-color: #212121;

	h1 {
        color: #ececec;
        font-size: 32px;
        font-weight: 700;
		margin-bottom: 0;
        text-align: left;

        strong {
    		color: #a00e3f;
			font-size: 28px;
			margin-left: -5px;
        }
    }
}

.menu-link {
    margin-left: 16px;
    text-decoration: none;
    color: #9e9e9e;
    transition: .3s ease-in-out;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.search-box {

	input {
		border-radius: 25px;
		background: #ffffff;
		border: 2px solid transparent;
		outline: none;
		height: 42px;
		min-width: 520px;
		color: #9e9e9e;
		padding-left: 16px;
		padding-right: 42px;
		transition: .3s ease-in-out;

		::placeholder {
			color: #888;
		}

		&:focus, &:valid {
			background-color: #313131;
			color: #FFF;
		}
	}
}

.schedule-list-day, .schedule-list-header {
    font-size: 1rem;
    font-weight: 700!important;
}

.schedule-list-item {
    font-size: 0.8em;
}

.schedule-list-item .schedule-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// --------------------------------------------------------- //

$large: 1435px;
$medium: 992px;
$small: 768px;

@media (min-width: #{$small}) {
    .anime-list .anime-item {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}

@media (min-width: #{$medium}) {
    .anime-list .anime-item {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (min-width: #{$large}) {
    .anime-list .anime-item {
        flex: 0 0 20%;
        max-width: 20%;
    }
}